@use './resets';
@use './variables';

html,body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}
.fptb-logo{
    width: 50px;
}

.menu{
    
    .ul-links{
        display: flex;
        flex-direction: row;
        gap: 10px;
        list-style: none;
        margin-top: 9px;
        
            li{ 
                a{
                    text-decoration: none;
                    color: #000;
                    padding: 3px 10px;
                    font-size: 17px;
                    float: left;
                }
                a:hover{
                    color: #ffad69;
                }
                .active{
                    color: #ffad69;
                }
            }
    }
    
}
@media screen and (max-width: 768px) {
    
    #menu-li{
        display: none;
        transition: all 4s ease-in-out;
        width: 100%;

        .ul-links{
            li{
                border-bottom: 1px solid #00000020;
                transition: all 2s ;
            }
        }
    }
    #menu-li.active{
        display: block;
        transition: all 2s ease-in;
    }
    .nav-hr{
        margin: 5px 0;
        opacity: 0;
    }

    #btn-click.active .bar:first-child{
        width: 30px;
        transform: translateY(8px) rotate(45deg);
    }
    #btn-click.active .bar:nth-child(2){
        opacity: 0;
    }
    #btn-click.active .bar:last-child{
        width: 30px;
        transform: translateY(-5px) rotate(-45deg);
    }
    #btn-click.active .btnn{
        justify-content: center;
        align-items: center;
    }
    
    
    .fptb-logo{
        width: 40px;
    }
    .navbar-brand div{
        padding-left: 2.8rem;
    }
    #con-nav{
        align-items: flex-start;
    }
    .container{
        flex-direction: column;
        align-items: flex-start;
    }
    .menu .ul-links{
        flex-direction: column;
        padding: 0;
        text-align: left;
      }
    .menu .ul-links.active{
        transition: all 2s ease-in;
      }
      .menu .ul-links li a {
        padding: 5px;
        text-align: left;
      }
      #lg-btn{
        display: flex;
        justify-content: space-between;
        //background-color: aliceblue;
      }
      #btn-click{
        background-color: #F24333;
        position: absolute;
        top: 0;
        right: 1em;
        height: 57px;
        width: 50px;
        display: flex;
        align-items: flex-end;
        padding-bottom: 10px;

            .btnn{
                cursor: pointer;
                width: 100%;
                display: flex;
                align-items: flex-end;
                flex-direction: column;
                padding: 4px;
                gap: 3.7px;
                .up{
                    background-color: #fff;
                    height: 3px;
                    width: 33px; 
                    border-radius: 5px;
                    transition: all 0.5s ease;
                }
                .mid{
                    background-color: #fff;
                    height: 3px;
                    width: 40px; 
                    border-radius: 5px;
                    transition: all 0.3s;
                }
                .bottom{
                    background-color: #fff;
                    height: 3px;
                    width: 25px; 
                    border-radius: 4px;
                    transition: all 0.5s ease;
                }
            }
      }
}
@media screen and (min-width: 768px) {
    .navbar-brand div{
        padding-left: 3.5rem;
    }
}


/* ========== HERO SECTION ========== */
.members-hero{
    display: flex;
    flex-direction: column;
    .section-members{
        min-width: 320px;
        .members-list-container{

            .members-ul{
                list-style: none;
                padding-left: 0;
                margin-bottom: 0;
                .simon{
                    background-color: #f89b29;
                    width: 68%;
                }
                .ezra{
                    background-color: #ee4266;
                    width: 73%;
                }.friday{
                    background-color: purple;
                    width: 80%;
                }
                .joy{
                    background-color: #34d1bf;
                    width: 90%;
                }
                .ahmad{
                    background-color: #000;
                    width: 100%;

                    .student-profile-container .student-profile-main-container .student-cover-and-profile-pic-container .student-profile-pic figure figcaption{
                        color: #fff;
                    }
                    .student-profile-container .student-profile-main-container .student-details .student-details-ul li{
                        color: #fff;
                    }
                    .student-profile-container .student-profile-main-container .student-details .student-details-ul li span{
                        color: #fff;
                    }
                    .student-profile-container .student-profile-main-container .student-details .student-details-ul li .tel{
                        color: #fff;
                    }
                }
                li{
                    padding: 15px;
                    font-weight: 500;
                    color: #fff;
                    letter-spacing: 1px;
                    font-size: 15px;
                    font-family: 'Roboto', sans-serif;
                    cursor: pointer;
                    transition: all 2s ease-in-out;

                    span{
                        padding-right: 15px;
                    }
                }
                li:hover{
                    //
                }
            }
        }
        
    }
    
}
@media screen and (max-width: 768px) {
    .img-pic{
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .hero-section{
        background-color: #000;
        width: 100%;
        padding: 10px 13px ;
    }
    .carousel-heading{
        font-size: 15px;
    }
    
}
@media screen and (min-width: 768px) {
    .members-hero .section-members .members-list-container .members-ul li {
        transition: all 2s ease-in-out;
        letter-spacing: 2px;
      }
    .carousel-heading{
        font-size: 25px;
    }
    .heading{
        margin:  2rem 0;
    }
    .members-hero{
        justify-content: space-evenly;
        padding: 3rem 0;
    }
    .section-members{
        width: 500px;

    }
    .members-hero {
        display: flex;
        flex-direction: row;
      }
      .members-hd{
        margin-left: 5.5rem;
      }
      .img-pic{
        width: 512px;
      }
      .hero-section{
        width: 512px;
      }
      .members-hero .section-members .members-list-container .members-ul li {
        padding: 18px;
        }

        .img-pic{
            position: relative;
        }
        #darken-img{
            background-color: #00000040;
            position: absolute;
            top: 0;
            left: 0;
            width: 512px;
            height: 512px;
        }
}
.carousel-item{
    .container{
        h3{
            text-shadow: 1px 1px 5px #000;
            font-family: 'Poppins', sans-serif
        }
    }
}

.img-pic{
    position: relative;
}
#darken-img{
    background-color: #00000040;
    position: absolute;
    top: 0;
    left: 0;
    width: 767px;
    height: 512px;
}

/* ========== Users Profile ========== */

#student-profile{
    transition: all 2s ease-in-out;
}


/* mobile screen */
.student-profile-container{
    //display: none;
    transition: all 2s ease-in-out;
    .student-profile-main-container{
        margin-top: 5px;
        box-shadow: 0px 0px 10px #000;
        border-radius: 5px;
        display: none;
        transition: all 2s ease-in-out;
        
        .student-cover-and-profile-pic-container{
            position: relative;
            .student-cover-pic{
                height: 100px;
                background-color: aliceblue;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
            .student-profile-pic{
                    position: absolute;
                    bottom: -82px;
                    left: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                figure{
                    figcaption{
                        color: #000;
                        font-weight: 900;
                        text-transform: uppercase;
                    }
                    
                    img{
                    background-size: cover;
                    width: 100px;
                    border-radius: 50%;
                    border: 3px solid rgb(50, 50, 50);
                }
                }
                
            }

        }

        .student-details{
            margin-top: 60px;
            .student-details-ul{
                padding-left: 0;
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                li{
                    list-style: none;
                    font-size: 12px;
                    padding: 6px 5px;
                    color: #000;
                    min-width: 163px;
                    text-transform: uppercase;
                    span{
                        color: #000;
                        font-weight: 700;
                        font-size: 12px;
                    }
                    a{
                        text-decoration: none;
                        font-size: 12px;
                        color: #000;

                         
                    }
                    .student-message{
                            margin-bottom: 10px;
                         }
                }
                .student-message{
                        margin-left: 90px;
                        padding: 8px;
                        border-radius: 15px;
                        text-decoration: none;
                        color: #000;
                        background-color: #fff;
                        font-size: 12px;
                 }
            }
        }

        .student-socials{
            //
        }
    }
    .student-profile-main-container:hover{
        //
    }
}

/* large screen */
@media screen and (min-width: 768px) {
    
}

#myDiv{
    display: none;
}


/* =====download button===== */
.download{
    margin: .8em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.download-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-download {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;

        a{
            color: #fff;
            text-decoration: none;
        }
        a:hover{
            color: aliceblue;
        }
  }
  
  /* Darker background on mouse-over */
  .btn-download:hover {
    background-color: RoyalBlue;
  }
  #footer-text{
    font-size: 14px;
  }
  

  @media screen and (max-width: 600px) {
    #footer-text{
        font-size: 12px;
      }
      .fa-twitter{
        margin-left: 1.5rem;
      }
  }
